* {
    font-family: monospace;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-height:100vh;
    background: linear-gradient(65deg, rgb(100, 35, 100),rgb(165, 63, 165));
    display: flex;
    flex-direction:column;
    align-items: center;
}
h1 {
    color:rgb(1, 1, 12);
    margin-top: 100px;
}

form {
    margin-top:50px;
}

.container {
    margin-top:50px;
}

ul {
    list-style: none;
    width:500px;
}

ul li {
    width: 100%;
    background-color:rgb(146, 103, 146);
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5px 0;
}

ul li .remove {
    position:absolute;
    top:0;
    right:0;
    width:20px;
    text-align:center;
    background-color:darksalmon;
}

ul li .status {
    position:absolute;
    top:0;
    right:30px;
    width:50px;
    text-align:center;
    background-color:rgb(223, 119, 84);
}