input {
    display:block;
}

#library-div {
    height:500px;
    width:300px;
    background-color:bisque;
}

body{
    display:flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: space-between;
}