* {
    color: black;
    font-family: monospace;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-height:100vh;
    background: linear-gradient(45deg,#255954,#3A8C7D);
    display: flex;
    flex-direction:column;
    align-items: center;
}
h1 {
    margin-top: 100px;
}

form {
    margin-top:50px;
}
input {
    border-radius: 5px;
    height:25px;
    padding-left:10px;
    background-color: #E8F0FE;
}

label {
    margin-left:20px;
   
}

.btn-list {
    color: #260A07;
    width:100px;    
}

.container {
    margin-top:50px;
}

ul {
    list-style: none;
    width:500px;
}

ul li {
    width: 100%;
    background-color:#71D99E;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5px 0;
}

ul li .remove {
    position:absolute;
    top:0;
    right:0;
    width:20px;
    text-align:center;    
}

ul li .status {
    position:absolute;
    top:0;
    right:30px;
    width:50px;
    text-align:center;
    background-color:#3A8C7D;
    color:#E8F0FE;
}